html body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    height: 100vh;   
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-areas: 
    'menuNav filtro'
    'menuNav principal'
    'footer footer';
    grid-template-columns: 15% 85%;
    height: 100vh;    
}

#ocultoHamb{
    display:none
}

.menu {
    grid-area: menuNav;
    background-color: #1967D2;
    color: aliceblue;
}

ol, ul {
    padding-top: 10px;
    font-size: 1.5rem;
}

.listado {
    list-style: none;
    padding-top: 16%;
    padding-right: 2rem;
}

li {
    text-align: center;
    padding-top: 10px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-top: 0;  
}

.tituto {
    font-size: 1.5rem;
}

.logoMenu {
    display: flex;
    justify-content: center;
    padding-top: 21%;
    width: 100%;
}

#barra {
    margin-right: 20px;
    visibility: hidden;
}

.buscador {
    grid-area: filtro;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 0;
    padding-bottom: 1%;
}

select {
    padding-left: 40%;
    padding-right: 40%;
    padding-top: 1%;
    padding-bottom: 1%;
    border-radius: 19px;
    color:black;
}

p.orden {
    margin: 10px;
}

.principal {
    grid-area: principal;
    background-color: white; 
}

.cajaTarjetas {
    display: flex;
    flex-wrap: wrap;
    gap: 4%;
    padding-top: 2%;
    padding-left: 1%;
}

.botonCaja {
    display: flex;
    justify-content: center;
}

.boton {
    width: 50%;
    border-radius: 5px;
    background-color: #1967D2;
    color: #f8f9fa;
    margin: 10px;
    padding: 10px;
}

.tarjeta {
    display: flex;
    flex-direction: column;
    border: solid 1px;
    margin: 5px;
    padding: 5px;
    width: 20%;  
    background-color: #f5f5f5;
    border-radius: 13px;
}

p.textoNombre {
    margin: 0;
}

p.textoPrecio {
    margin: 0;
    font-weight: bold;
    padding: 20px;
}

img {
    width: 100%;
}

.paginacion {
    display: flex;
    justify-content: center;
}

ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.pagination li {display: inline;}

ul.pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

ul.pagination li a.active {
    background-color: #4CAF50;
    color: white;
}

ul.pagination li a:hover:not(.active) {background-color: #ddd;}

.footer {
    grid-area: footer;
    background-color: #004972;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    
}

.iconosRS {
    padding-top: 4%;
}

.logoIcono{
    width: 50px;
}

@media (max-width:992px) {
    .grid-container {
        display: grid;
        grid-template-areas: 
        'menuNav menuNav menuNav'
        'filtro principal principal'
        'footer footer footer';
        grid-template-columns: 20% 40% 40%;   
        height: 100vh;        
    }
    .oculto {
        display: none;
    }

    .buscador {
        justify-content: flex-start;
        padding-top: 18%;
        
    }
    p.orden {
        margin: 0;
    }
    select {
        padding: 3%;
        padding-left: 9%;
        padding-right: 9%;
    }
    .cajaTarjetas {
        display: flex;
        flex-wrap: nowrap;
        gap: 3%;
        padding-top: 6%;
        padding-left: 1%;
        justify-content: center;
    }
    .tarjeta {
        width: 44%;
    }
    .logoMenu {
        width: 100%;
        display: flex;
        text-align: center;
        justify-content: flex-start;
        padding-top: 0
    }
    .logo {
        align-items: baseline;
    }
    .listado {
        display: flex;
        gap: 10px;
        justify-content:center;
        align-items: center;
        padding-top: 9%;
    }
    .menu {
        grid-area: menuNav;
        color: aliceblue;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 0;
    }
    
    .footer {
        padding-top: 2%;
    }
    .iconos-footer {
        padding-top: 0;
    }
    .principal{
        height: 80vh;  
    }

    ol, ul {
        padding-top: 10px;
        font-size: 1rem;
    }
    
}

@media (max-width:576px) {
    .grid-container {
        display: grid;
        grid-template-areas: 
        'menuNav'
        'filtro'
        'principal'
        'footer';
        grid-template-columns: 1fr;
        height: 100vh;
    }
    
    .oculto {
        display: none;
    }
    .ocultoLista {
        display: none;
    }
    
    .ocultoEsp{
        display:none;
    }

    .menu {
        display: flex;
        padding-bottom: 3%;
        width: 100vw;
    }
    .logoMenu {
        display: flex;
        padding-top: 4%;
    }
    .logo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        width: 100%;
        height: 40px;
        padding-top: 0;
    }    
    .buscador {
        padding-top: 1%;
     
    }
    .orden {
        margin: 0;
    }

    .tarjeta {
        width: 70%;
        margin-top: 10%;
    }
    .cajaTarjetas {
        padding-top: 1%;
    }
    nav {
        display: flex;
        justify-content: center;
    }
    select {
        padding-left: 30%;
        padding-right: 30%;
        padding-top: 2%;
        padding-bottom: 2%;
    }
    .iconos-footer {
        padding-top: 0;
    }

    .principal{
        height: 70vh;  
    }

    #ocultoHamb{
        display:block;
    }
}